<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>来访审核</title>

    <!-- Bootstrap Core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">访客申请审核</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

                <div class="col-lg-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            来访内容
                        </div>
                        <div class="panel-body">
                            <!--<h4>来访者:</h4>-->
                            <blockquote>
                                <p>姓名:
                                    <%=data.get('user')%>
                                </p>
                                <p>手机:
                                    <%=data.get('phone')%>
                                </p>
                                <p>来访目的:
                                    <%=data.get('content')%>
                                </p>
                                <p>来访日期:
                                    <%=data.get('day')%>
                                </p>
                                <p id='pick'>点击选择门禁有效时间:
                                    <span id='time' data-hour=2>2小时</span>
                                </p>
                            </blockquote>

                        </div>

                        <!-- /.panel-body -->
                    </div>
                    <%if (data.get('pass')==0){%>
                        <div class="weui-btn-area"> <a id="agree" href="javascript:" class="weui-btn weui-btn_primary">同意</a> </div>
                        <div class="weui-btn-area"> <a id="deny" href="javascript:" class="weui-btn weui-btn_primary" style="background-color:#d9534f">拒绝</a> </div>
                        <%}else if(data.get('pass')==1){%>
                            <h4 id="result1" style="text-align:center;color:green">已同意</h4>
                            <%}else{%>
                                <h4 id="result2" style="text-align:center;color:red">已拒绝</h4>
                                <%}%>
                                    <!-- /.panel -->
                </div>

                <!-- /.col-lg-4 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/1.1.0/weui.min.css">
    <script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.1.1/weui.min.js"></script>
    <script type="text/javascript">
        $('#agree').on('click', function () {
            $('#agree').attr('disabled', true);
            $.get('/audit/submit/1/<%=data.id%>/<%=data.get("openid")%>/'+$('#time').attr('data-hour')+'?name=<%=data.get("user")%>&phone=<%=data.get("phone")%>', function (data) {
                if (data == '0') {
                    $('#agree').css('display', 'none');
                    $('#deny').css('display', 'none');
                    $('.col-lg-4').append('<h4 id="result1" style="text-align:center;color:green">已同意</h4>');
                }
            });
        });
        $('#deny').on('click', function () {
            $.get('/audit/submit/-1/<%=data.id%>/<%=data.get("openid")%>/0?name=<%=data.get("user")%>&phone=<%=data.get("phone")%>', function (data) {
                if (data == '0') {
                    $('#agree').css('display', 'none');
                    $('#deny').css('display', 'none');
                    $('.col-lg-4').append('<h4 id="result2" style="text-align:center;color:red">已拒绝</h4>');
                }
            });
        });
        $('#pick').on('click', function () {
            weui.picker([
                {
                    label: '2小时',
                    value: 2
                }, {
                    label: '4小时',
                    value: 4
                }, {
                    label: '6小时',
                    value: 6
                },{
                    label: '8小时',
                    value: 8
                }
            ], {
                    defaultValue: ['2小时'],
                    onChange: function (result) {
                        console.log(result);
                    },
                    onConfirm: function (result) {
                        $('#time').attr('data-hour',result[0].value);
                        $('#time').html(result[0]+"小时");
                    },
                    id: 'pick'
                });
        });
    </script>

</body>

</html>